a:link {
    text-decoration: none
}
a:visited {
    text-decoration: none
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.navbar-blue {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0056a5;
    background-image: -moz-linear-gradient(top,#0060b7,#004889);
    background-image: -ms-linear-gradient(top,#0060b7,#004889);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0060b7),to(#004889));
    background-image: -webkit-linear-gradient(top,#0060b7,#004889);
    background-image: -o-linear-gradient(top,#0060b7,#004889);
    background-image: linear-gradient(top,#0060b7,#004889);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0060b7',endColorstr='#004889',GradientType=0);
    background-color: #0056a5;
    background-image: -moz-linear-gradient(top,#0060b7,#004889);
    background-image: -ms-linear-gradient(top,#0060b7,#004889);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0060b7),to(#004889));
    background-image: -webkit-linear-gradient(top,#0060b7,#004889);
    background-image: -o-linear-gradient(top,#0060b7,#004889);
    background-image: linear-gradient(top,#0060b7,#004889);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0060b7',endColorstr='#004889',GradientType=0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4),inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4),inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.4),inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4),inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4),inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.4),inset 0 -1px 0 rgba(0,0,0,.1);
    border-top: 1px solid #2679c3;
}

#logo {
    float: left;
    line-height: 27px;
    width: 120px;
}

.nav li {
    float: left;
}
.nav li a {
    color: #ffffff;
}
.pull-left {
    width: 500px;
}
.pull-right {
    float: right;
    margin-right: 250px;
    font-size: 12px;
    top:0;
}
.search {
    float: right;
    width: 240px;
    margin-top: 5px;
}
.main {
    margin-top: 40px;
    background: #fff;
    zoom: 1;
    overflow: hidden;
    border: solid 1px #ddd;
    -webkit-box-shadow: 0 5px 5px rgba(9,2,3,0.24);
    -moz-box-shadow: 0 5px 5px rgba(9,2,3,0.24);
    box-shadow: 0 5px 5px rgba(9,2,3,0.24);
    -webkit-box-shadow: 0 5px 5px rgba(9,2,3,0.24);
    -moz-box-shadow: 0 5px 5px rgba(9,2,3,0.24);
    box-shadow: 0 5px 5px rgba(9,2,3,0.24);
    width:958px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
}
.site-left {
    float: left;
    width: 68%;
}
.site-right {
    float: right;
    width: 32%;
}
.site-top {
    margin-bottom: 6px;
    border-bottom: solid 1px #ddd;
    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,0.1);
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,0.1);
    box-shadow: 0 2px 4px rgba(1,1,1,0.1);
    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,0.1);
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,0.1);
    box-shadow: 0 2px 4px rgba(1,1,1,0.1);
    background: #fcfcfc;
    line-height: 60px;
    height: 60px;
    width:100%;
}
.top {
    list-style: none;
}
.top li {
    float: left;
    padding-right: 35px;
    cursor: auto;
    display: block;
}
.nav li:hover {
    text-decoration: none;
}
.topic {
    margin: 9px;
    zoom: 1;
    padding: 0 4px 30px 4px;
    border-bottom: 1px solid #f1f1f1;
    line-height: 1.5;
    list-style: none;
}
.title a {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}
.meta {
    float: left;
    zoom: 1;
    margin: 5px 0 0 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    display: block;
    line-height: 1.5;
    width: 100%;
    overflow: hidden;
    color: #888;
}
.meta a {
    margin-right: 4px;
}
.infos {
    float: right;
}
.infos span {
    font-size: 13px;
    margin-right: 5px;
}
.ops {
    float: left;
    font-size: 13px;
    margin-right: 5px;
}
.loop {
    min-height: 142px;
}
.loop-title {
    font-size: 15px;
    padding: 6px;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    color: #0055a2;
    word-break: break-all;
    outline: none;
    margin-left: 30px;
}
#footer {
    margin: 20px auto 0;
    width: 830px;
    font-size: 13px;
    line-height: 26px;
    border-top: 1px solid #F1F1F1;
    padding: 20px 0 20px 130px;
    color: #676767;
}
.copyright a {
    font-size: 13px;
    line-height: 26px;
    color: #676767;
    margin-right: 10px;
}
.content {
    margin: 50px 30px;
}
.TipsTalk-list {
    list-style: none;
}
.pager {
    width: 400px;
}
.page_info {
    color: #428bca;
    margin-left: 30px;
    width: 200px;
}
.page_info input {
    width: 30px;
    text-align: center;
}
.content_a {
    color: #333;
}
